.header {
  padding-bottom: 10px;
}

.land-img {
  border-radius: 5px;
}

.manas {
  padding-top: 20px;
}

.mana {
  height: 45px;
  width: 45px;
  padding-left: 10px;
}

.github {
  padding-top: 20px;
}

.github a {
  border-radius: 20px;
}

.clear-button {
  padding-top: 20px;
}

.export-button {
  padding-top: 20px;
}

.buttons {
  justify-content: center;
}

button.is-small.counter-button {
  border-radius: 25px;
}

.counter {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.deckstring {
  border-radius: 0px;
}
